@import "~src/assets/styles/var";

.wrap {
  display: inline-flex;
  overflow-y: auto;
  overflow-x: hidden;
  background: $main-color;
  height: calc(100vh - #{$header-height});
  flex-direction: column;
  &::-webkit-scrollbar {
    display: none
  }
}

.menu {
  width: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.server {
  width: $server-width;
  height: $server-height;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  transition: .25s ease;
  margin-bottom: 8px;
  background: $bckg-logo-color;

  img {
    flex: 1;
    height: $server-height;
  }

  a {
    color: #fff;
  }

  &:hover {
    border-radius: 15px;

    &.logo {
      background: $logo-color;
    }
  }

  &.special {
    &:hover {
      background: $logo-hover-color;
    }

    &:hover .server-special {
      color: #fff;
    }
  }
}

hr {
  height: 2px;
  width: 32px;
  border-radius: 1px;
  background: $hr-color;
  margin: 0 auto 8px auto;
}
