@import "src/assets/styles/var";
@import "src/assets/styles/vars/color";

.wrap {
  display: inline-flex;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 5px;
  background: $main-bg;
  height: $content-height;
  flex-direction: column;
  width: $server-width;
  &::-webkit-scrollbar {
    display: none
  }

  button {
    background: none;
  }
}

.menu {
  width: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.server {
  background: $primary;
  width: $icon-width;
  height: $icon-height;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  transition: $server-transition;
  margin-bottom: 8px;
  background: $default-color;

  img {
    color: $snow;
    height: $icon-height;
    transition: $server-transition;
  }

  a, p {
    color: $snow;
  }

  .special__icon {
    color: $good;
  }

  &__border {
    display: none;
  }

  &:hover {
    border-radius: 15px;

    img {
      transition: $server-transition;
      border-left: 1px solid $snow;
      border-radius: 2px;
    }

    &.logo, &.server-text {
      background: $primary;
    }

    &.special {
      background: $good;

      svg {
        color: $snow;
      }
    }

  }
}

hr {
  height: 2px;
  width: 32px;
  border-radius: 1px;
  background: $hr-color;
  margin: 0 auto 8px auto;
}

.active {
  .server {
    border-radius: 15px;

    img {
      transition: $server-transition;
      border-left: 1px solid blue;
      border-radius: 4px;
    }

    &.logo, &-text {
      background: $primary;
    }

    &.default {
      background: $default-color;
    }
    &.special {
      background: $good;
      svg {
        color: $snow;
      }
    }

    &__border {
      display: block;
      width: 8px;
      height: 48px;
      background: $snow;
      border-radius: 0 4px 4px 0;
      right: 66px;
      position: absolute;
    }
  }
}
