@font-face {
  font-family: 'HelveticaMedium';
  src: url("../fonts/HelveticaNeueCyr-MediumItalic.ttf");
}

@font-face {
  font-family: 'Whitney';
  src: url("../fonts/Whitney-Medium.ttf");
}

@font-face {
  font-family: 'Ginto';
  src: url("../fonts/Ginto-Medium.ttf");
}
