$main-color: #202225;
$logo-color: #7e82d6;
$default-color: #37393f;
$special-green-color: #74b683;
$hr-color: #2e2f32;
$desk-color: #4f5660;

$icon-height: 48px;
$icon-width: 48px;

// header
$header-height: 22px;

// server
$server-transition: .2s;

// modal
$modal-margin-top: 8px;
$modal-border-color: #ebebeb;
$modal-footer-background: #f6f6f7;
$modal-join-btn-background: #747f8d;
