$main-color: #202225;
$logo-color: #7e82d6;
$bckg-logo-color: #37393f;
$logo-hover-color: #74b683;
$hr-color: #2e2f32;

// header
$header-height: 22px;

// sever
$server-height: 48px;
$server-width: 48px;
