$main-color: #202225;
$logo-color: #7e82d6;
$default-color: #37393f;
$special-green-color: #74b683;
$hr-color: #2e2f32;

// header
$header-height: 22px;

// sever
$server-height: 48px;
$server-width: 48px;
