<div class="backdrop" (click)="onClose()"></div>

<div class="modal" @modal>
  <div class="cross">
    <button (click)="onClose()">&times;</button>
  </div>

  <div class="header">
    <div class="title">
      <h1>Create a server</h1>
      <p>
        Your server is where you and your friends hang out.
        Make yours and start talking.
      </p>
    </div>


  </div>

  <div class="content">
    <div class="list">
      <div class="list__choice">
        <div class="choice">
          <div class="choice__text">
            <svg-icon icon="hand-and-key" size="xl"></svg-icon>
            <span>Create my own</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="footer__content">
      <p>Have an invite already?</p>
      <button>Join a Server</button>
    </div>
  </div>
</div>
