$primary: #5865f2;
$good: #3ba55c;
$notification: rgb(240, 71, 71);

$snow: #fff;
$segment: #b9bbbe;
$segment-modified: #72767d;
$dark: #000;
$dark-modified: #232427;

// light
$light-primary: #ebebeb;
$light-primary-modified: #4f5660;
$light-accent: #f6f6f7;
$light-accent-modified: #747f8d;
// dark
$dark-primary: #8e9297;
$dark-primary-selected: #393C43;
$dark-accent: #2f3136;
$dark-accent-modified: #292b2f;
$dark-accent: rgba(0, 0, 0, .85);
$main-bg: #202225;
$main-bg-modified: #36373B;
