@import "src/assets/styles/var";
@import "src/assets/styles/vars/color";

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: $dark-accent;
  z-index: 1;
  cursor: pointer;
}

.modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: $snow;
  border-radius: 4px;
  width: 440px;
  height: 550px;
  z-index: 2;
}

.header {
  padding: 24px 16px 15px 16px;

  & .title {
    text-align: center;

    h1 {
      font-size: 1.8rem;
      font-weight: 700;
    }

    p {
      color: $light-primary-modified;
      font-size: .9rem;
      font-weight: 500;
      margin-top: $modal-margin-top;
    }
  }
}

.content {
  padding: 0 16px 15px 16px;
  margin-top: $modal-margin-top;
  width: 100%;
  flex-grow: 1;
}

.choice {
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid $light-primary;
  border-radius: 8px;

  &__text {
    display: flex;
    align-items: center;

    span {
      margin-left: 5px;
      font-weight: 700;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      width: 260px; // temp
      font-size: 1.2rem;
    }

    img {
      height: $icon-height;
      flex: 1;
    }
  }
}

.footer {
  margin-top: $modal-margin-top;
  text-align: center;
  background: $light-accent;

  &__content {
    padding: 0 16px 15px 16px;

    p {
      font-size: 1.2rem;
      padding: 10px 0 6px 0;
    }

    button {
      padding: 8px 0 8px 0;
      background: $light-accent-modified;
      width: 100%;
      color: #fff;
      border-radius: 4px;
    }
  }
}

.cross {
  position: absolute;
  right: 16px;

  button {
    background: none;
    font-size: 35px;
    color: $light-primary-modified;
  }
}
